/* Eductools specific App styles */

.nav-menu {
  display: flex;
  gap: 1.5rem;
  font-weight: 600;
  font-size: 1rem;
  flex-wrap: wrap;
  align-items: center;
}

@media (max-width: 768px) {
  .nav-menu {
    gap: 1rem;
    font-size: 0.875rem;
    justify-content: center;
    width: 100%;
  }

  .header-institutional .page-container {
    justify-content: center !important;
    text-align: center;
  }
}
